################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PI_Projek/Form1.cs
/PI_Projek/Form1.Designer.cs
/PI_Projek/Form1.cs
/PI_Projek/Form1.Designer.cs
.vs/
